# 4.1 Data Wrangling and Advanced Indexing

**Goal:** Build data wrangling skills to clean and navigate datasets.

**Outline:**
* Numpy Array and DataFrame methods and functions
* Table indexing and slicing
* Boolean (logical) indexing
* Sorting
* Data cleaning and inspection

## Additional Required Reading: Functions
Data 8 textbook "Computational and Inferential Thinking: The Foundations of Data Science" By Ani Adhikari and John DeNero [Chapter 8 Functions and Tables](https://www.inferentialthinking.com/chapters/08/Functions_and_Tables.html). This should overlap with your assigned reading for Data 8.

## Numpy Arrays and DataFrames

NumPy and Pandas offer several types of data structures, the two main structures that we use are `nparray` and `DataFrame`. A `nparray` is a fast and flexible container for large datasets that allows you to perform operations on whole blocks of data at once. `nparray`s are best suited for homogenous (just one type) numerical data. `DataFrames` are designed for tabular datasets, and can handle heterogenous data (multiple types: int, float, string, etc.).

In [1]:
import numpy as np
import pandas as pd

### nparray

Here is an example of a `nparray` with random float data:

In [2]:
# Generate a random nparray called arr_data
arr_data = np.random.randn(5,3)
arr_data

array([[-2.0669077 , -0.43931841, -1.72560437],
       [ 0.83796194, -1.04036458,  0.29540101],
       [ 1.41412582,  2.13922007, -0.39296256],
       [ 1.12189339,  2.13530712, -0.04420057],
       [ 0.44127863, -0.67710997, -0.84374911]])

The function `arrayName.shape` is useful for finding the number of rows and columns in an array.

In [3]:
# use .shape to determine the shape of arr_data
arr_data.shape

(5, 3)

`arrayName.dtype` will display the data type of the data stored in the array.

In [4]:
# use .dtype to determine the type of arr_data
arr_data.dtype

dtype('float64')

The functions `np.zeros` and `np.ones` are similar, they create arrays full of zeros and ones respectively. The input for these functions is the shape of the array you want. This is an effective way of setting up an array of place-holders that you can then fill in with a loop or to make an array of a single value.

In [5]:
# Generate a nparray of zeros with np.zeros
arr0 = np.zeros((4,4))
arr0

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [6]:
# Generate a nparray of ones with np.ones
arr1 = np.ones((4,4))
arr1

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [7]:
# np.ones is handy for making a nparray of any single value
arr5 = arr1 * 5
arr5

array([[5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.]])

The functions `np.arange` and `np.linspace` can be used to make monotonic number lines. They are really useful! `np.arange` makes an array of integers or floats between the starting and ending (note that the ending point is exclusive) in steps that you set as inputs. `np.linspace` will make evenly spaced float points between the starting and ending (note that the ending point is inclusive) you set.

In [8]:
# Generate an array of integers between 0 and 10 in steps of 1, including 0 (start) but not 11 (end)
arr2 = np.arange(0,11,1) 
arr2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
# Generate an array of floats between 0 and 10 in steps of 2, including 0 (start) but not 11 (end)
arr2 = np.arange(0.0,11.0,2.0) 
arr2

array([ 0.,  2.,  4.,  6.,  8., 10.])

In [10]:
# Generate an array of 14 evenly spaced numbers between 0 and 10, including 0 (start) and 10 (end).
arr3=np.linspace(0,10,14) 
arr3

array([ 0.        ,  0.76923077,  1.53846154,  2.30769231,  3.07692308,
        3.84615385,  4.61538462,  5.38461538,  6.15384615,  6.92307692,
        7.69230769,  8.46153846,  9.23076923, 10.        ])

### DataFrames 

`Series` and `DataFrames` are like nparrays but they have the added feature of index labels assigned to each row and column -- the bold labels in the below `DataFrame`. These labels can be used to bin and select data.

In [11]:
# generate a new DataFrame
# note that index values (like the column labels) don't have to integers and don't have to be in order
frame = pd.DataFrame(np.random.rand(3, 3), index=['Nevada','Montana','Arizona'], columns=['sedimentary','igneous','metamorphic'])
frame

         sedimentary   igneous  metamorphic
Nevada      0.498651  0.692189     0.753768
Montana     0.008001  0.199381     0.509681
Arizona     0.259161  0.900811     0.365008

We've seen `DataFrame` structures before in our tabular data files. The Earthquake catalog we were dealing with last week was a .csv (Comma Separated Variable) data file of all the earthquakes. We imported it as a DataFrame from the USGS API by setting up a query URL and using `pd.read_csv`. This time we'll look at the earthquakes of magnitude 2.5 and greater from the past week.

In [12]:
start_day = '2020-09-07'
end_day = '2020-09-14'
standard_url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&orderby=magnitude'

query_url = standard_url + '&starttime=' + start_day + '&endtime=' + end_day + '&minmagnitude=2.5'
EQ_data = pd.read_csv(query_url)
EQ_data .head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-09-11T07:35:57.894Z,-21.3928,-69.8943,51.00,6.3,mww,NaN,41.0,0.072,1.39,...,2020-09-13T08:04:13.078Z,"83 km NNE of Tocopilla, Chile",earthquake,3.0,1.8,0.052,35.0,reviewed,us,us
1,2020-09-12T02:44:10.969Z,38.7591,142.2473,32.09,6.1,mww,NaN,47.0,2.223,0.95,...,2020-09-14T03:01:02.354Z,"57 km SE of Ōfunato, Japan",earthquake,7.3,3.5,0.057,30.0,reviewed,us,us
2,2020-09-07T06:12:40.093Z,-17.0893,168.4760,10.00,6.0,mww,NaN,29.0,2.039,1.35,...,2020-09-09T06:35:29.105Z,"73 km NNE of Port-Vila, Vanuatu",earthquake,5.7,1.7,0.098,10.0,reviewed,us,us
3,2020-09-08T00:45:20.952Z,-4.9124,129.7627,174.05,5.9,mww,NaN,12.0,3.173,0.78,...,2020-09-09T00:49:01.271Z,"197 km SSE of Amahai, Indonesia",earthquake,6.4,3.6,0.086,13.0,reviewed,us,us
4,2020-09-12T08:34:27.387Z,-17.2562,167.6938,10.00,5.9,mww,NaN,64.0,1.859,0.77,...,2020-09-13T08:38:38.008Z,"84 km NW of Port-Vila, Vanuatu",earthquake,5.4,1.6,0.086,13.0,reviewed,us,us

We have seen referencing individual columns (which are called `Series`) with: `DataFrame['Column_Name']`.

In [13]:
EQ_data['depth']

0       51.00
1       32.09
2       10.00
3      174.05
4       10.00
        ...
306     10.00
307     19.60
308      1.87
309      6.90
310     85.70
Name: depth, Length: 311, dtype: float64

The `.values` function can be used to return the values of the `Series` as a `nparray`, so without the labled index values of the `Series`.

In [14]:
print(type(EQ_data['depth']))

<class 'pandas.core.series.Series'>

In [15]:
EQ_data['depth'].values

array([5.1000e+01, 3.2090e+01, 1.0000e+01, 1.7405e+02, 1.0000e+01,
       1.8000e+01, 1.0000e+01, 1.0000e+01, 5.5657e+02, 1.0000e+01,
       3.5000e+01, 4.3280e+01, 3.1090e+02, 1.3497e+02, 1.4081e+02,
       5.5750e+01, 1.0000e+01, 1.0000e+01, 1.0000e+01, 5.8130e+01,
       1.0000e+01, 9.8250e+01, 1.0000e+01, 1.0000e+01, 1.3131e+02,
       1.4900e+01, 1.0000e+01, 5.7490e+01, 4.1180e+01, 8.7260e+01,
       3.5000e+01, 1.0000e+01, 1.0000e+01, 1.0000e+01, 1.0000e+01,
       6.4160e+01, 1.3834e+02, 3.4320e+01, 2.3200e+01, 1.0000e+01,
       1.0370e+02, 1.0000e+01, 4.1160e+01, 4.6839e+02, 1.0000e+01,
       1.1292e+02, 1.3864e+02, 1.0000e+01, 1.0000e+01, 9.1600e+00,
       1.0000e+01, 1.0000e+01, 6.7950e+01, 1.0000e+01, 1.0000e+01,
       1.0000e+01, 1.0000e+01, 1.0000e+01, 1.0000e+01, 1.0000e+01,
       1.0470e+01, 4.4440e+01, 1.2395e+02, 1.0000e+01, 7.4540e+01,
       4.3080e+01, 3.5000e+01, 1.0000e+01, 1.0000e+01, 1.0000e+01,
       2.1316e+02, 1.0000e+01, 1.5478e+02, 1.6725e+02, 6.2140e+01,
       3.5000e+01, 1.0000e+01, 4.3800e+01, 9.5610e+01, 1.0000e+01,
       2.4586e+02, 4.7130e+01, 3.0870e+01, 5.3140e+01, 3.5000e+01,
       2.4988e+02, 1.0000e+01, 1.0000e+01, 4.3980e+01, 2.9330e+01,
       1.0000e+01, 1.0000e+01, 2.5010e+01, 2.0520e+01, 1.0000e+01,
       1.8800e+02, 1.8589e+02, 9.7700e+01, 1.0000e+01, 1.0000e+01,
       3.7881e+02, 4.0790e+01, 1.0000e+01, 3.5000e+01, 4.0000e+01,
       3.5000e+01, 5.3160e+01, 9.4700e+00, 2.7230e+01, 1.0000e+01,
       6.0520e+02, 1.5339e+02, 1.0000e+01, 1.0000e+01, 1.0000e+01,
       2.2704e+02, 1.6563e+02, 6.4900e+01, 1.0000e+01, 1.2690e+02,
       1.3177e+02, 1.2030e+02, 1.0000e+01, 1.3680e+01, 1.9000e+01,
       3.9300e+00, 1.0000e+01, 4.0810e+01, 4.7660e+01, 1.0000e+01,
       1.0000e+01, 1.0000e+01, 5.0000e+00, 1.0630e+01, 2.9090e+01,
       1.3972e+02, 4.8856e+02, 2.5170e+01, 1.7430e+01, 1.0000e+01,
       6.3150e+01, 1.8810e+01, 1.0000e+01, 9.1010e+01, 8.2980e+01,
       4.8296e+02, 7.7150e+01, 8.2140e+01, 1.9863e+02, 3.1700e+01,
       1.0000e+01, 1.8704e+02, 2.7500e+01, 1.1808e+02, 4.7320e+01,
       1.0000e+01, 3.5000e+01, 1.0000e+01, 1.0000e+01, 7.8820e+01,
       3.8000e+01, 3.7000e+01, 6.0000e+01, 3.3000e+01, 3.8000e+01,
       3.7000e+01, 1.0000e+01, 1.0400e+01, 3.7000e+00, 3.2600e+01,
       1.7520e+01, 2.0000e+01, 1.2900e+02, 4.5000e+01, 1.0100e+01,
       3.5000e+01, 1.8000e+00, 1.7280e+01, 1.9880e+01, 4.0000e+00,
       5.0000e+00, 6.0000e+00, 1.3000e+01, 3.4800e+01, 1.1000e+01,
       1.1000e+01, 2.3400e+00, 2.4280e+01, 1.0000e+01, 1.2000e+01,
       5.3000e+01, 1.3000e+01, 1.1130e+01, 1.2000e+01, 1.6310e+01,
       1.3000e+01, 6.0000e+00, 1.1000e+01, 8.8300e+01, 1.4000e+01,
       1.6240e+01, 5.0000e+00, 5.0000e+00, 1.0000e+01, 2.4840e+01,
       3.2940e+01, 1.1000e+01, 6.0000e+00, 1.1000e+01, 1.3000e+01,
       5.0000e+00, 1.0000e-01, 1.0000e+01, 1.0000e+01, 1.7400e+01,
       9.0000e+00, 1.2000e+01, 6.8300e+00, 1.3000e+01, 8.0000e+00,
       1.0000e+01, 1.1000e+01, 6.0000e+00, 1.2000e+01, 2.3490e+01,
       8.0000e+00, 9.0000e+00, 1.0000e+01, 0.0000e+00, 1.4000e+01,
       1.2750e+02, 1.4100e+01, 1.0000e+01, 4.8000e+00, 6.3400e+00,
       1.0000e+01, 1.0000e+01, 1.1000e+01, 5.5900e+00, 1.1000e+01,
       1.4000e+01, 1.8800e+00, 0.0000e+00, 1.0000e+01, 3.5900e+01,
       5.4000e-01, 0.0000e+00, 7.3000e+00, 6.1000e+00, 1.0000e+01,
       1.5000e+01, 1.8000e+01, 6.9700e+00, 6.3800e+00, 1.0000e+01,
       9.0000e+00, 1.8000e+01, 6.7800e+00, 6.0100e+01, 5.0000e+00,
       4.7000e+00, 2.4100e+00, 3.7000e+00, 1.9900e+01, 5.9000e+00,
       1.8900e+00, 4.4100e+00, 6.3000e+00, 1.4000e+01, 9.3500e+00,
       1.1000e+01, 9.0000e+00, 1.3000e+01, 1.0000e+01, 2.1000e+01,
       1.0000e+01, 1.0000e+01, 1.1900e+00, 9.0000e+00, 6.6700e+00,
       1.2000e+01, 1.4000e+01, 1.6000e+01, 1.2670e+01, 3.2200e+01,
       1.0000e+01, 1.3350e+01, 1.1100e+01, 6.0000e+00, 0.0000e+00,
       1.1000e+01, 2.2000e+01, 1.1000e+01, 6.0000e+00, 1.2000e+00,
       1.1000e+01, 9.7300e+00, 1.3000e+01, 1.2000e+01, 3.2310e+01,
       6.0000e+00, 1.6000e+01, 3.2800e+01, 2.9000e+00, 1.3000e+01,
       7.5000e+01, 1.0000e+01, 1.9600e+01, 1.8700e+00, 6.9000e+00,
       8.5700e+01])

In [16]:
type(EQ_data['depth'].values)

numpy.ndarray

## Indexing and Slicing

Arrays and dataframes have two axes of indices, rows and columns. Remember that python indexing starts at zero, and the end bounds are generally exclusive.

![indices](./figures/indices.png)
> Source: Python for Data Analysis (2nd Edition) McKinney, W.

<br>

Using square brackes we can select subsections of tables to work with:

![slicing](./figures/array_slicing.png)
> Source: Python for Data Analysis (2nd Edition) McKinney, W.

In [17]:
# generate a random array
arr_data = np.random.randn(10,5)
arr_data

array([[ 0.37751202, -0.57852507, -1.38569934, -0.66057813,  0.77861813],
       [-2.16268463,  2.06542096,  0.30989947, -0.75827019, -0.70601822],
       [-1.0787227 , -0.02348567, -0.25800235, -1.51482784,  1.17692209],
       [-0.27092617, -0.61136566,  0.55894046, -2.01329679,  0.38693984],
       [ 0.19386022, -0.65827276, -1.57411629, -0.27596706,  0.34784979],
       [ 1.26042178,  0.39724389,  0.01406501,  0.11348991,  1.3050943 ],
       [ 0.71568178,  0.3094508 , -0.66604781,  0.33274284,  0.59888443],
       [-0.14656944,  1.29772977, -0.37704732,  1.21855148, -0.73025098],
       [ 1.84025403, -0.5015139 , -1.23622433,  0.91906477, -0.55736582],
       [-1.71953896,  0.37807402, -2.41596643,  0.10082345, -0.07421822]])

**slice out the first 3 rows of arr_data**

In [18]:
a = arr_data[:3]
a

array([[ 0.37751202, -0.57852507, -1.38569934, -0.66057813,  0.77861813],
       [-2.16268463,  2.06542096,  0.30989947, -0.75827019, -0.70601822],
       [-1.0787227 , -0.02348567, -0.25800235, -1.51482784,  1.17692209]])

**slice out the last 2 columns of arr_data**

In [19]:
b = arr_data[:,-2:]  
b

array([[-0.66057813,  0.77861813],
       [-0.75827019, -0.70601822],
       [-1.51482784,  1.17692209],
       [-2.01329679,  0.38693984],
       [-0.27596706,  0.34784979],
       [ 0.11348991,  1.3050943 ],
       [ 0.33274284,  0.59888443],
       [ 1.21855148, -0.73025098],
       [ 0.91906477, -0.55736582],
       [ 0.10082345, -0.07421822]])

In [20]:
#Or this works too
b = arr_data[:,3:] 
b

array([[-0.66057813,  0.77861813],
       [-0.75827019, -0.70601822],
       [-1.51482784,  1.17692209],
       [-2.01329679,  0.38693984],
       [-0.27596706,  0.34784979],
       [ 0.11348991,  1.3050943 ],
       [ 0.33274284,  0.59888443],
       [ 1.21855148, -0.73025098],
       [ 0.91906477, -0.55736582],
       [ 0.10082345, -0.07421822]])

Slicing a `DataFrame` is a bit different because you can reference the index labels and use `.iloc`.

**slice out the first 10 rows of EQ_data**

In [21]:
EQ_data.iloc[:10]

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-09-11T07:35:57.894Z,-21.3928,-69.8943,51.00,6.3,mww,NaN,41.0,0.072,1.39,...,2020-09-13T08:04:13.078Z,"83 km NNE of Tocopilla, Chile",earthquake,3.0,1.8,0.052,35.0,reviewed,us,us
1,2020-09-12T02:44:10.969Z,38.7591,142.2473,32.09,6.1,mww,NaN,47.0,2.223,0.95,...,2020-09-14T03:01:02.354Z,"57 km SE of Ōfunato, Japan",earthquake,7.3,3.5,0.057,30.0,reviewed,us,us
2,2020-09-07T06:12:40.093Z,-17.0893,168.4760,10.00,6.0,mww,NaN,29.0,2.039,1.35,...,2020-09-09T06:35:29.105Z,"73 km NNE of Port-Vila, Vanuatu",earthquake,5.7,1.7,0.098,10.0,reviewed,us,us
3,2020-09-08T00:45:20.952Z,-4.9124,129.7627,174.05,5.9,mww,NaN,12.0,3.173,0.78,...,2020-09-09T00:49:01.271Z,"197 km SSE of Amahai, Indonesia",earthquake,6.4,3.6,0.086,13.0,reviewed,us,us
4,2020-09-12T08:34:27.387Z,-17.2562,167.6938,10.00,5.9,mww,NaN,64.0,1.859,0.77,...,2020-09-13T08:38:38.008Z,"84 km NW of Port-Vila, Vanuatu",earthquake,5.4,1.6,0.086,13.0,reviewed,us,us
5,2020-09-09T07:18:40.873Z,4.2064,126.6394,18.00,5.8,mww,NaN,32.0,3.033,1.61,...,2020-09-11T18:42:17.040Z,"185 km SE of Sarangani, Philippines",earthquake,4.1,3.1,0.053,34.0,reviewed,us,us
6,2020-09-07T06:29:15.325Z,-17.1714,168.4770,10.00,5.7,mww,NaN,38.0,2.106,1.10,...,2020-09-08T06:32:55.273Z,"64 km NNE of Port-Vila, Vanuatu",earthquake,7.2,1.7,0.050,38.0,reviewed,us,us
7,2020-09-07T17:40:44.171Z,-24.5120,-111.9898,10.00,5.6,mww,NaN,34.0,3.500,1.10,...,2020-09-11T16:20:37.144Z,Easter Island region,earthquake,10.2,1.8,0.066,22.0,reviewed,us,us
8,2020-09-12T02:37:29.712Z,-17.8809,-178.0547,556.57,5.6,mww,NaN,36.0,3.553,1.10,...,2020-09-13T02:41:07.273Z,"279 km E of Levuka, Fiji",earthquake,8.9,6.4,0.089,12.0,reviewed,us,us
9,2020-09-08T08:28:51.109Z,-15.1768,-172.9244,10.00,5.4,mww,NaN,122.0,1.676,1.67,...,2020-09-09T08:32:27.606Z,"127 km NE of Hihifo, Tonga",earthquake,9.9,2.0,0.098,10.0,reviewed,us,us

**slice out the a chunk of depths starting at index 5 and up to (but excluding) index 10**

In [22]:
EQ_data.iloc[5:10]['depth']

5     18.00
6     10.00
7     10.00
8    556.57
9     10.00
Name: depth, dtype: float64

Notice that this is still a `Series` with corresponding index values. If you just want the values from that chunk and not the index labels use `.values`.

In [23]:
EQ_data.iloc[5:10]['depth'].values

array([ 18.  ,  10.  ,  10.  , 556.57,  10.  ])

## Boolean Indexing

We can use Boolean (i.e. logical) indexing to select values from our DataFrame where the argument we want is `True`. You'll use the logical symbols (`<`,`>`,`==`,`&`,`|`,`~`).

**Use Boolean Indexing to filter out data so that we are only looking at rows with magnitudes larger than or equal to 6.0**

In [24]:
EQ_data[EQ_data['mag']>=6.0]

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-09-11T07:35:57.894Z,-21.3928,-69.8943,51.00,6.3,mww,NaN,41.0,0.072,1.39,...,2020-09-13T08:04:13.078Z,"83 km NNE of Tocopilla, Chile",earthquake,3.0,1.8,0.052,35.0,reviewed,us,us
1,2020-09-12T02:44:10.969Z,38.7591,142.2473,32.09,6.1,mww,NaN,47.0,2.223,0.95,...,2020-09-14T03:01:02.354Z,"57 km SE of Ōfunato, Japan",earthquake,7.3,3.5,0.057,30.0,reviewed,us,us
2,2020-09-07T06:12:40.093Z,-17.0893,168.4760,10.00,6.0,mww,NaN,29.0,2.039,1.35,...,2020-09-09T06:35:29.105Z,"73 km NNE of Port-Vila, Vanuatu",earthquake,5.7,1.7,0.098,10.0,reviewed,us,us

## Sorting

DataFrames can be sorted by the values in a given column (`.sort_values`).

In [25]:
EQ_data.sort_values(by=['depth']).head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
228,2020-09-08T23:12:33.877Z,59.8997,-140.9836,0.0,2.9,ml,NaN,NaN,NaN,0.89,...,2020-09-08T23:30:41.040Z,"80 km WNW of Yakutat, Alaska",earthquake,NaN,0.3,NaN,NaN,automatic,ak,ak
246,2020-09-10T18:51:28.617Z,66.3482,-157.5925,0.0,2.8,ml,NaN,NaN,NaN,0.96,...,2020-09-11T13:30:10.040Z,"63 km SSW of Shungnak, Alaska",earthquake,NaN,0.5,NaN,NaN,automatic,ak,ak
242,2020-09-08T00:18:38.934Z,67.8553,-164.2600,0.0,2.8,ml,NaN,NaN,NaN,0.79,...,2020-09-08T01:00:12.358Z,"18 km NE of Kivalina, Alaska",earthquake,NaN,0.2,NaN,NaN,automatic,ak,ak
289,2020-09-13T19:36:18.333Z,58.3861,-137.1493,0.0,2.6,ml,NaN,NaN,NaN,0.84,...,2020-09-13T20:41:25.115Z,"51 km WNW of Elfin Cove, Alaska",earthquake,NaN,0.4,NaN,NaN,automatic,ak,ak
211,2020-09-07T08:36:25.622Z,67.3271,-156.3144,0.1,3.0,ml,NaN,NaN,NaN,0.75,...,2020-09-07T09:11:34.040Z,"52 km NNE of Kobuk, Alaska",earthquake,NaN,0.7,NaN,NaN,automatic,ak,ak

You can reverse the order of sorting with `ascending=False`.

In [26]:
EQ_data.sort_values(by=['depth'],ascending=False).head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
110,2020-09-07T22:22:20.306Z,-20.8541,-178.6937,605.20,4.3,mb,NaN,115.0,4.359,0.82,...,2020-09-14T04:12:05.040Z,Fiji region,earthquake,14.9,8.6,0.116,21.0,reviewed,us,us
8,2020-09-12T02:37:29.712Z,-17.8809,-178.0547,556.57,5.6,mww,NaN,36.0,3.553,1.10,...,2020-09-13T02:41:07.273Z,"279 km E of Levuka, Fiji",earthquake,8.9,6.4,0.089,12.0,reviewed,us,us
136,2020-09-11T21:57:24.258Z,28.8670,139.0123,488.56,4.2,mb,NaN,67.0,4.290,0.73,...,2020-09-13T00:48:54.040Z,"Bonin Islands, Japan region",earthquake,9.7,6.2,0.033,257.0,reviewed,us,us
145,2020-09-09T18:15:24.772Z,-24.4581,179.9656,482.96,4.1,mb,NaN,131.0,26.193,0.46,...,2020-09-14T18:46:41.040Z,south of the Fiji Islands,earthquake,15.6,11.8,0.120,19.0,reviewed,us,us
43,2020-09-08T00:55:46.719Z,28.1788,139.8487,468.39,4.7,mb,NaN,128.0,4.920,1.04,...,2020-09-12T04:49:26.040Z,"Bonin Islands, Japan region",earthquake,6.1,9.6,0.130,18.0,reviewed,us,us

## Data cleaning and inspection

`.drop()` can be used to drop whole columns from a DataFrame.

In [27]:
EQ_data_concise = EQ_data.drop(['magType','nst','gap','dmin','rms','net','id','updated','place','type','horizontalError','depthError','magError','magNst','status','locationSource','magSource',], axis='columns')
EQ_data_concise.head()

                       time  latitude  longitude   depth  mag
0  2020-09-11T07:35:57.894Z  -21.3928   -69.8943   51.00  6.3
1  2020-09-12T02:44:10.969Z   38.7591   142.2473   32.09  6.1
2  2020-09-07T06:12:40.093Z  -17.0893   168.4760   10.00  6.0
3  2020-09-08T00:45:20.952Z   -4.9124   129.7627  174.05  5.9
4  2020-09-12T08:34:27.387Z  -17.2562   167.6938   10.00  5.9

`.unique()` returns the unique values from the specified object.

In [28]:
unique_mags = EQ_data_concise['mag'].unique()
unique_mags.sort()
unique_mags

array([2.5 , 2.51, 2.53, 2.54, 2.55, 2.56, 2.57, 2.58, 2.6 , 2.61, 2.62,
       2.64, 2.65, 2.66, 2.68, 2.7 , 2.74, 2.75, 2.76, 2.77, 2.79, 2.8 ,
       2.81, 2.82, 2.84, 2.86, 2.87, 2.9 , 2.91, 2.92, 2.93, 2.95, 2.97,
       2.98, 2.99, 3.  , 3.01, 3.02, 3.03, 3.06, 3.1 , 3.17, 3.18, 3.2 ,
       3.21, 3.23, 3.26, 3.3 , 3.32, 3.34, 3.4 , 3.42, 3.43, 3.44, 3.46,
       3.5 , 3.53, 3.59, 3.6 , 3.7 , 3.71, 3.72, 3.74, 3.75, 3.83, 3.9 ,
       4.  , 4.1 , 4.2 , 4.22, 4.3 , 4.33, 4.36, 4.4 , 4.5 , 4.6 , 4.7 ,
       4.8 , 4.9 , 5.  , 5.1 , 5.2 , 5.4 , 5.6 , 5.7 , 5.8 , 5.9 , 6.  ,
       6.1 , 6.3 ])

`.value_counts()` returns the count of each unique value from the specified object. This functionality can be used to find duplicate values.

In [29]:
EQ_data_concise['mag'].value_counts()

4.30    19
4.50    19
4.60    15
4.70    15
4.40    15
        ..
5.70     1
6.30     1
4.33     1
3.71     1
6.00     1
Name: mag, Length: 90, dtype: int64

### Finding missing data (NaNs)

NaN stands for not a number and is used as a placeholder in data tables where no value exists. `np.isnan` returns a boolean object with True where NaNs appear in the DataFrame.

In [30]:
np.isnan(EQ_data['nst'])

0       True
1       True
2       True
3       True
4       True
       ...
306     True
307     True
308    False
309    False
310     True
Name: nst, Length: 311, dtype: bool

In [31]:
~np.isnan(EQ_data['nst'])

0      False
1      False
2      False
3      False
4      False
       ...
306    False
307    False
308     True
309     True
310    False
Name: nst, Length: 311, dtype: bool

You can use this boolean object to filter-out rows that contain NaNs.

In [32]:
EQ_data[~np.isnan(EQ_data['nst'])]

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
104,2020-09-12T23:22:04.540Z,19.304600,-64.389600,40.00,4.36,md,19.0,233.0,1.86560,0.4800,...,2020-09-13T07:24:32.234Z,"115 km NNE of Cruz Bay, U.S. Virgin Islands",earthquake,3.57,29.63,0.060000,8.0,reviewed,pr,pr
105,2020-09-13T07:12:58.980Z,19.396000,-64.284100,35.00,4.33,md,26.0,234.0,2.00520,0.2900,...,2020-09-13T15:15:36.449Z,"129 km NNE of Cruz Bay, U.S. Virgin Islands",earthquake,1.81,21.72,0.130000,16.0,reviewed,pr,pr
125,2020-09-11T07:55:45.450Z,36.440667,-117.994500,3.93,4.22,ml,45.0,66.0,0.06908,0.1800,...,2020-09-15T02:18:08.002Z,"18km SSE of Lone Pine, CA",earthquake,0.18,0.57,0.140000,320.0,reviewed,ci,ci
160,2020-09-08T01:19:54.510Z,19.121300,-64.398500,38.00,3.83,md,17.0,338.0,1.74990,0.4000,...,2020-09-09T00:54:19.040Z,"96 km NNE of Cruz Bay, U.S. Virgin Islands",earthquake,3.23,24.52,0.110000,14.0,reviewed,pr,pr
161,2020-09-08T06:35:40.270Z,19.316600,-64.570800,37.00,3.83,md,20.0,335.0,1.73570,0.4100,...,2020-09-08T08:09:44.040Z,"111 km NNE of Cruz Bay, U.S. Virgin Islands",earthquake,3.32,26.87,0.120000,10.0,reviewed,pr,pr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2020-09-08T11:03:53.600Z,18.027300,-66.828000,16.00,2.51,md,12.0,117.0,0.07310,0.1500,...,2020-09-08T11:14:28.314Z,"2 km ESE of Yauco, Puerto Rico",earthquake,0.58,0.73,0.150000,5.0,reviewed,pr,pr
302,2020-09-13T17:55:42.130Z,19.182333,-155.475833,32.80,2.51,md,59.0,82.0,NaN,0.1200,...,2020-09-14T23:42:34.030Z,"2 km S of Pāhala, Hawaii",earthquake,0.44,0.60,0.152709,27.0,reviewed,hv,hv
304,2020-09-07T08:24:04.300Z,17.932000,-66.947100,13.00,2.50,md,16.0,221.0,0.08040,0.1300,...,2020-09-07T09:46:21.114Z,"6 km SW of Guánica, Puerto Rico",earthquake,0.79,0.30,0.120000,11.0,reviewed,pr,pr
308,2020-09-11T12:23:38.700Z,44.315167,-110.494500,1.87,2.50,ml,15.0,144.0,0.05648,0.1800,...,2020-09-11T14:39:34.760Z,"61 km SE of West Yellowstone, Montana",earthquake,0.50,2.06,0.377000,8.0,reviewed,uu,uu
309,2020-09-12T05:56:08.720Z,38.169800,-117.964800,6.90,2.50,ml,28.0,47.8,0.03100,0.1599,...,2020-09-13T02:24:43.646Z,"27 km SSE of Mina, Nevada",earthquake,NaN,0.60,0.290000,15.0,reviewed,nn,nn

## Further Reading (Optional)

This user guide has lots of useful examples and documentation:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html